@model Web.Models.MenuDishes.MenuDishesViewModel

    <div class="col-lg-4">
        @if (Model.Path != null)
        {
            <img width="360" height="180" class="img-thumbnail" src="@Model.Path" alt="@Model.Name" />
        }
    <h2>@SharedLocalizer["Name"]: @Model.Name</h2>
        <p> @SharedLocalizer["Info"]: @Model.Info </p>
        <p>@SharedLocalizer["Weight"]: @Model.Weight</p>
        <p>@SharedLocalizer["Price"]: @Model.Price @SharedLocalizer["Currency"]</p>
        <a class="btn btn-sm btn-primary" asp-action="Add" asp-controller="Cart" asp-route-dishId="@Model.DishId">@SharedLocalizer["InCart"]</a>
        <br />
        <br />
    </div>