@model Web.Models.MenuDishes.MenuDishesViewModel

    <div class="col-lg-4">
        @if (Model.Path != null)
        {
            <img width="360" height="180" class="img-thumbnail" src="@Model.Path" alt="@Model.Name" />
        }
        <h2>Название: @Model.Name</h2>
        <p> Информация: @Model.Info </p>
        <p>Вес: @Model.Weight</p>
        <p>Цена: @Model.Price BYN</p>
        <a class="btn btn-sm btn-primary" asp-action="Add" asp-controller="Cart" asp-route-dishId="@Model.DishId">В корзину</a>
        <br />
        <br />
    </div>