@model Web.Models.MenuDishes.ListMenuDishViewModel
@{
    ViewData["Title"] = "Блюда меню";
}


@if (User.IsInRole("admin"))
{
    <a class="btn btn-sm btn-success" asp-controller="Catalog" asp-action="Index" asp-route-providerId="@Model.ProviderId" asp-route-menuId="@Model.MenuId">Составление меню</a>
}

<h1 class="text-center">@ViewData["NameMeniDishes"]</h1>
<br />

<form method="get">
    <input type="hidden" name="menuId" value="@Model.MenuId" />
    <div class="form-inline form-group">
        <label class="control-label" style="margin-left: 5px;">Категории: </label>
        <select name="filterCatalog" asp-items="Model.FilterCategorySelection" asp-for="FilterCatalog"  class="form-control" style="margin-left: 5px;"></select>
        <label class="control-label" style="margin-left: 5px;">Поиск по: </label>
        <select name="searchSelectionString" asp-items="Model.SearchSelection" asp-for="SearchSelectionString" class="form-control" style="margin-left: 5px;"></select>
        <label class="control-label" style="margin-left: 5px;">Значение: </label>
        <input name="name" class="form-control" asp-for="SeacrhString" style="margin-left: 5px;" />
        <input type="submit" value="Фильтровать" class="btn btn-sm btn-success" style="margin-left: 5px;" />
        <a asp-action="Index" asp-route-menuId="@Model.MenuId" class="btn btn-sm btn-success" style="margin-left: 5px;">Обновить</a>
        @if (Model.MenuDishes.Any())
        {
            <a asp-action="Index" asp-route-menuId="@Model.MenuId" asp-route-sortMenuDish="@ViewData["PriceSort"]" 
               asp-route-searchSelectionString="@Model.SearchSelectionString" asp-route-name="@Model.SeacrhString" 
               asp-route-filterCatalog="@Model.FilterCatalog" class="btn btn-sm btn-success"
               style="margin-left: 5px;">
                Сортировать по цене
            </a>
        }
    </div>
</form>
@if (Model.MenuDishes.Any())
{
    <div class="row mt-5 mb-2">
        @{
            foreach (Web.Models.MenuDishes.MenuDishesViewModel menuDish in Model.MenuDishes)
            {
                @await Html.PartialAsync("_MenuDishesList", menuDish, new ViewDataDictionary(this.ViewData) {
               { "SearchSelectionString", Model.SearchSelectionString },
                { "SeacrhString", Model.SeacrhString }})
            }
        }
        <br/>
    </div>
}
else
{
    <h3 class="text-center" style="color:red;">Блюда осутствуют</h3>
}