@using Microsoft.AspNetCore.Identity
@model Web.Models.Roles.ChangeRoleViewModel

@{
    ViewData["Title"] = "Изменение ролей";
}

    <h1 class="text-center">Изменение ролей для пользователя @Model.UserEmail</h1>
<br />

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>