@model Web.Models.Account.ProfileViewModel

@{
    ViewBag.Title = @SharedLocalizer["ViewAccountEdit_TitleAndHeader"];
}


@if (User.Identity.IsAuthenticated)
{
    <h1 class="text-center">@SharedLocalizer["ViewAccountEdit_TitleAndHeader"]</h1>
    <br />

    <form method="post" autocomplete="off" asp-action="Edit" asp-controller="Account">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label asp-for="Firstname" class="control-label">@SharedLocalizer["Firstname"]</label>
            <input type="text" asp-for="Firstname" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Lastname" class="control-label">@SharedLocalizer["Lastname"]</label>
            <input type="text" asp-for="Lastname" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Patronymic" class="control-label">@SharedLocalizer["Patronymic"]</label>
            <input type="text" asp-for="Patronymic" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">@SharedLocalizer["Email"]</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-sm btn-success" />
        </div>
    </form>
}