@model Web.Models.Account.ProfileViewModel

@{
    ViewBag.Title =  @SharedLocalizer["Profile"];
}
<div class="text-center">

    @if (User.Identity.IsAuthenticated)
    {
    <h1 class="text-center"> @SharedLocalizer["Profile"]</h1>
        <br />
        <p> @SharedLocalizer["Firstname"]: @Model.Firstname</p>
        <p> @SharedLocalizer["Lastname"]: @Model.Lastname</p>
        <p> @SharedLocalizer["Patronymic"]: @Model.Patronymic</p>
        <p> @SharedLocalizer["Email"]: @Model.Email</p>
        <a class="btn btn-sm btn-success" asp-controller="Account" asp-action="Edit"> @SharedLocalizer["Edit"]</a>
        <a class="btn btn-sm btn-success" asp-controller="Account" asp-action="ChangePassword"> @SharedLocalizer["ChangePassword"]</a>
    }
</div>
