@model Web.Models.Catalog.CatalogdProviderIdViewModel

@{
    ViewData["Title"] = @SharedLocalizer["Catalog"];
}

@if (User.IsInRole("admin"))
{
    <a class="btn btn-sm btn-success" asp-controller="Catalog" asp-action="Add" asp-route-providerId="@Model.ProviderId">@SharedLocalizer["ViewCatalogEdit_TitleAndHeader"]</a>
}

<h1 class="text-center">@SharedLocalizer["Catalog"]  "@ViewData["NameProvider"]"</h1>
<br />

<form method="get">
    <input type="hidden" name="providerId" value="@Model.ProviderId" />
    <div class="form-inline form-group">
        <label style="margin-left: 5px;" class="control-label">@SharedLocalizer["SearchBy"]: </label>
        <select style="margin-left: 5px;" name="searchSelectionString" asp-items="Model.SearchSelection" asp-for="SearchSelectionString" class="form-control"></select>
        <label style="margin-left: 5px;" class="control-label">@SharedLocalizer["Value"]: </label>
        <input style="margin-left: 5px;" name="name" class="form-control" asp-for="SeacrhString" />
        <input class="btn btn-sm btn-success" style="margin-left: 5px;" type="submit" value="@SharedLocalizer["Search"]" />
        <a style="margin-left: 5px;" class="btn btn-sm btn-success" asp-action="Index" asp-route-providerId="@Model.ProviderId">@SharedLocalizer["Update"]</a>
    </div>
</form>
@if (Model.Catalogs.Any())
{

    <table class="table">
        <tr>
            <th>
                <a asp-action="Index" asp-route-providerId="@Model.ProviderId" asp-route-sortCatalog="@ViewBag.NameSort"
                   asp-route-searchSelectionString="@Model.SearchSelectionString" asp-route-name="@Model.SeacrhString">
                    @SharedLocalizer["Catalog"]
                </a>
            </th>
            <th>  @SharedLocalizer["Info"]</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var catalog in Model.Catalogs)
        {
            <tr>
                <td>@catalog.Name</td>
                <td>@catalog.Info</td>
                <td><a class="btn btn-sm btn-primary" asp-controller="Dish" asp-action="Index" asp-route-catalogId="@catalog.Id" asp-route-menuId="@Model.MenuId">  @SharedLocalizer["Dishes"]</a></td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <form asp-action="Delete" asp-route-id="@catalog.Id"
                              asp-route-providerId="@catalog.ProviderId"
                              asp-route-searchSelectionString="@Model.SearchSelectionString"
                              asp-route-name="@Model.SeacrhString"
                              method="post">
                            <input type="hidden" name="providerId" value="@Model.ProviderId" />
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@catalog.Id">  @SharedLocalizer["Edit"]</a>
                            <button type="submit" class="btn btn-sm btn-danger">
                                @SharedLocalizer["Delete"]
                            </button>
                        </form>
                    </td>

                }
            </tr>
        }
    </table>
}
else
{
<h3 class="text-center" style="color:red;">  @SharedLocalizer["NoCatalog"]</h3>
} 
