@model Web.Models.Users.CreateUserViewModel
@{
    ViewBag.Title = @SharedLocalizer["AddingUser"];
}
    <h1 class="text-center">@SharedLocalizer["AddingUser"]</h1>
<br />

<form method="post" autocomplete="off" asp-action="Create" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">@SharedLocalizer["Email"]</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">@SharedLocalizer["Password"]</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Firstname" class="control-label">@SharedLocalizer["Firstname"]</label>
        <input type="text" asp-for="Firstname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Lastname" class="control-label">@SharedLocalizer["Lastname"]</label>
        <input type="text" asp-for="Lastname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Patronomic" class="control-label">@SharedLocalizer["Patronomic"]</label>
        <input type="text" asp-for="Patronomic" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="@SharedLocalizer["Add"]" class="btn btn-outline-secondary" />
    </div>
</form>