@model Web.Models.Dish.EditDithViewModel

@{
    ViewData["Title"] =  @SharedLocalizer["EditDish"];
}

    <h1 class="text-center"> @SharedLocalizer["EditDish"] "@Model.Name"</h1>
<br />
@if (Model.Path != null)
{
    <img width="360" height="180" class="img-thumbnail" src="@Model.Path" alt="@Model.Name" />
}
<h3>@SharedLocalizer["DishEditImgInfo"] </h3>
<form method="post" asp-controller=Dish asp-action="Edit" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="hidden" asp-for="CatalogId" />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Path" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">@SharedLocalizer["Name"]</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Info" class="control-label">@SharedLocalizer["Info"]</label>
        <input type="text" asp-for="Info" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Weight" class="control-label">@SharedLocalizer["Weight"]</label>
        <input type="text" asp-for="Weight" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">@SharedLocalizer["Price"]</label>
        <input type="text" asp-for="Price" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="@SharedLocalizer["Edit"]" class="btn btn-outline-secondary" />
    </div>
</form>
