@model IEnumerable<Web.Models.Order.OrderDishesViewModel>

@{
    ViewData["Title"] = @SharedLocalizer["Providers"];
}

    <h1 class="text-center">   @SharedLocalizer["Providers"]</h1>
<br />

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th> @SharedLocalizer["Dish"]</th>
            <th> @SharedLocalizer["Name"]</th>
            <th> @SharedLocalizer["Info"]</th>
            <th> @SharedLocalizer["Weight"]</th>
            <th> @SharedLocalizer["Price"]</th>
            <th> @SharedLocalizer["Amount"]</th>
            <th>Общая цена</th>
        </tr>

        @foreach (var cartD in Model)
        {
            <tr>
                <td> <img class="esh-basket-image" src="@cartD.Path" /></td>
                <td>@cartD.Name</td>
                <td>@cartD.Info</td>
                <td>@cartD.Weight</td>
                <td>@cartD.Price @SharedLocalizer["Currency"]</td>
                <td>@cartD.Count</td>

                <td>@Math.Round(cartD.Count * cartD.Price, 2).ToString("N2")</td>
            </tr>
        }
    </table>
    <br />

    <div class="float-right">
        <span> @SharedLocalizer["FullPrice"]: @ViewData["FullPrice"]  @SharedLocalizer["Currency"]</span>
    </div>
    <br/>
}
else
{
<h3 class="text-center" style="color:red;">@SharedLocalizer["OrderInfoEmpty"]</h3>
    <br />
}