@model IEnumerable<Web.Models.Order.OrderViewModel>

@{
    ViewData["Title"] = @SharedLocalizer["Orders"];
}

    <h1 class="text-center">@SharedLocalizer["Orders"]</h1>
<br />

@if (Model.Any())
{

    <table class="table">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSort"]">
                    @SharedLocalizer["NumberOrder"]
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSort"]">
                    @SharedLocalizer["DataAndTimeOrder"]
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FullPriceSort"]">
                    @SharedLocalizer["CountDish"]
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CountDishSort"]">
                    @SharedLocalizer["Price"]
                </a>
            </th>
            <th></th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.DateOrder</td>
                <td>@order.CountDish</td>
                <td>@order.FullPrice</td>
                <td><a asp-controller="Order" asp-action="GetOrderDishes" asp-route-orderId="@order.Id"
   class="btn btn-sm btn-success">@SharedLocalizer["MoreDetails"]</a></td>
            </tr>
        }
    </table>
}
else
{
<h3 class="text-center" style="color:red;">@SharedLocalizer["OrderInfo"]</h3>
    <br />
}
