@model IEnumerable<Web.Models.Order.OrderViewModel>

@{
    ViewData["Title"] = "Заказы";
}

<h1 class="text-center">Заказы</h1>
<br />

@if (Model.Any())
{

    <table class="table">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSort"]">
                    Номер заказа
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSort"]">
                    Дата и время заказа
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FullPriceSort"]">
                    Количество блюд
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CountDishSort"]">
                    Цена
                </a>
            </th>
            <th></th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.DateOrder</td>
                <td>@order.CountDish</td>
                <td>@order.FullPrice</td>
                <td><a asp-controller="Order" asp-action="GetOrderDishes" asp-route-orderId="@order.Id"
                       class="btn btn-sm btn-success">Подробнее</a></td>
            </tr>
        }
    </table>
}
else
{
<h3 class="text-center" style="color:red;">Заказов не было</h3>
    <br />
}
