@{
    ViewData["Title"] = @SharedLocalizer["Report"];
}

<h1 class="text-center">@SharedLocalizer["Report"]</h1>
<br />

<h3>@SharedLocalizer["ReportByProvider"]</h3>
<div class="container">
    <form method="post" asp-controller="Report" asp-action="GetReportProvider">
        <h5>@SharedLocalizer["ForAllTime"]</h5>
        <label>@SharedLocalizer["ProvideIdProvider"]</label>
        <input type="number" name="providerId" />
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
    <form method="post" asp-controller="Report" asp-action="GetReportProvider">
        <h5>@SharedLocalizer["PerDay"]</h5>
        <label>@SharedLocalizer["ProvideIdProvider"]</label>
        <input type="number" name="providerId" />
        <label>@SharedLocalizer["ProvideDate"]</label>
        <input type="date" name="dateWith" />
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
    <form method="post" asp-controller="Report" asp-action="GetReportProvider">
        <h5>@SharedLocalizer["ForCertainTime"]</h5>
        <label>@SharedLocalizer["ProvideIdProvider"]</label>
        <input type="number" name="providerId" />
        <label>@SharedLocalizer["EnterDateFrom"]</label>
        <input type="date" name="dateWith" />
        <label>@SharedLocalizer["EnterDateBy"]</label>
        <input type="date" name="dateTo" />
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
    <form method="post" asp-controller="Report" asp-action="GetReportProviders">
        <h5>@SharedLocalizer["ForAllProvidersForAllTime"]</h5>
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
    <form method="post" asp-controller="Report" asp-action="GetReportProviders">
        <h5>@SharedLocalizer["ForAllProvidersForDay"]</h5>
        <label>@SharedLocalizer["ProvideDate"]</label>
        <input type="date" name="dateWith" />
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
    <form method="post" asp-controller="Report" asp-action="GetReportProviders">
        <h5>@SharedLocalizer["ForAllProvidersForCertainTime"]</h5>
        <label>@SharedLocalizer["EnterDateFrom"]</label>
        <input type="date" name="dateWith" />
        <label>@SharedLocalizer["EnterDateBy"]</label>
        <input type="date" name="dateTo" />
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
</div>
<h3>@SharedLocalizer["ReportByUsers"]</h3>
<div class="container">
    <form method="post" asp-controller="Report" asp-action="GetReportUser">
        <h4>@SharedLocalizer["ForAllTime"]</h4>
        <label>@SharedLocalizer["ProvideIdUser"]</label>
        <input type="text" style="width:290px" name="userId" />
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
    <form method="post" asp-controller="Report" asp-action="GetReportUser">
        <h5>@SharedLocalizer["PerDay"]</h5>
        <label>@SharedLocalizer["ProvideIdProvider"]</label>
        <input type="text" style="width:290px" name="userId" />
        <label>@SharedLocalizer["ProvideDate"]</label>
        <input type="date" name="dateWith" />
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
    <form method="post" asp-controller="Report" asp-action="GetReportUser">
        <h5>@SharedLocalizer["ForCertainTime"]</h5>
        <label>@SharedLocalizer["ProvideIdUser"]</label>
        <input type="text" style="width:290px" name="userId" />
        <label>@SharedLocalizer["EnterDateFrom"]</label>
        <input type="date" name="dateWith" />
        <label>@SharedLocalizer["EnterDateBy"]</label>
        <input type="date" name="dateTo" />
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
    <form method="post" asp-controller="Report" asp-action="GetReportUsers">
        <h5>@SharedLocalizer["ForAllUsersForAllTime"]</h5>
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
    <form method="post" asp-controller="Report" asp-action="GetReportUsers">
        <h5>@SharedLocalizer["ForAllUsersForDay"]</h5>
        <label>@SharedLocalizer["ProvideDate"]</label>
        <input type="date" name="dateWith" />
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
    <form method="post" asp-controller="Report" asp-action="GetReportUsers">
        <h5>@SharedLocalizer["ForAllusersForCertainTime"]</h5>
        <label>@SharedLocalizer["EnterDateFrom"]</label>
        <input type="date" name="dateWith" />
        <label>@SharedLocalizer["EnterDateBy"]</label>
        <input type="date" name="dateTo" />
        <input type="submit" value="@SharedLocalizer["MakeUp"]" />
    </form>
</div>


